.inter__medium {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
.FilterFieldsText {
	font-size: 14px;
	color: #000000;
}
.Proxy__container {
	width: 100%;
	height: 313px;
	margin-bottom: 40px;
}
.OutlineDiv {
	max-width: 1110px;
	height: 154px;
	border: 1px #335ae6 solid;
	border-radius: 10px;
	padding: 22px 0px 19px 20px;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
	margin-bottom: 20px;
}

.OutlineDiv::-webkit-scrollbar {
	display: none;
}
.Card {
	min-width: 207px;
	min-height: 113px;
	margin-right: 20px;
	border: 1px solid #335ae6;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}
.Card__topPart {
	width: 205px;
	height: 38px;
	border-radius: 4px 4px 0px 0px;
	padding: 10px 0px 0px 12px;
	border-bottom: #335ae6 1px solid;
}
.Card__topPart_title {
	font-size: 16px;
	text-align: left;
}
.Cart_bottomPart {
	height: 75px;
	padding: 10px 12px;
	width: 205px;
}
.Card__bottomPart_texts {
	font-size: 15px;
	text-align: left;
}
.Card__active {
	border: 3px solid #335ae6;
}
.ProxyActions__inputsDiv {
	width: 479px;
	height: 139px;
	border: 1px solid #335ae6;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 12px 20px;
}
.ProxyActions__input {
	border: 1px #335ae6 solid;
	border-radius: 10px;
	height: 31px;
	margin-bottom: 10px;
}
.ProxyActions__input:nth-child(2) {
	border: 1px #335ae6 solid;
	border-radius: 7px;
	height: 31px;
	margin-bottom: 10px;
	text-align: left;
}

.ProxyActions__buttonsDiv {
	display: flex;
	justify-content: space-between;
}
.ProxyActions__Button {
	width: 207px;
	height: 31px;
	border: 1px solid #335ae6;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ProxyActions__Button:hover {
	cursor: pointer;
}
