.inter__medium {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
.table__texts {
	font-size: 15px;
	width: 20%;
	align-self: center;
	white-space: nowrap; /* Запрещает перенос текста на новую строку */
	overflow: hidden; /* Прячет текст, который выходит за пределы блока */
	text-overflow: ellipsis; /* Добавляет троеточие, если текст не помещается */
}
.table__textsForLinks {
	font-size: 15px;

	white-space: nowrap; /* Запрещает перенос текста на новую строку */
	overflow: hidden; /* Прячет текст, который выходит за пределы блока */
	text-overflow: ellipsis; /* Добавляет троеточие, если текст не помещается */
	cursor: pointer;
}
.table__textsForLinks:hover {
	color: #69b1ff;
}

.table__container {
	width: 100%;
	max-height: 385px;
	height: 100%;
	border: 1px solid #335ae6;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	margin-bottom: 40px;
}
.table__line {
	min-height: 55px;
	width: 100%;
	border-bottom: 1px solid #335ae6;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
